.footnote{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;
    background-color: #D9D9D9;
    height: 300px;
    gap: 2%;
}
.container-footnote{
    display: flex;
    gap: 10px;
    line-height: 1.8px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}